[submodule "deps/Dependencies"]
	path = deps/Dependencies
	url = git@github.com:abin2017/Play-Dependencies.git
[submodule "deps/Framework"]
	path = deps/Framework
	url = git@github.com:jpd002/Play--Framework.git
[submodule "deps/CodeGen"]
	path = deps/CodeGen
	url = git@github.com:jpd002/Play--CodeGen.git
[submodule "deps/Nuanceur"]
	path = deps/Nuanceur
	url = git@github.com:jpd002/Nuanceur.git
